### Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

### Load the data

In [4]:
df = pd.read_csv('Nifty 50 Historical Data.csv')
df.head()

         Date      Price       Open       High        Low     Vol. Change %
0  23-01-2026  25,048.65  25,344.60  25,347.95  25,025.30  393.94M   -0.95%
1  22-01-2026  25,289.90  25,344.15  25,435.75  25,168.50  486.40M    0.53%
2  21-01-2026  25,157.50  25,141.00  25,300.95  24,919.80  395.62M   -0.30%
3  20-01-2026  25,232.50  25,580.30  25,585.00  25,171.35  409.77M   -1.38%
4  19-01-2026  25,585.50  25,653.10  25,653.30  25,494.35  443.09M   -0.42%

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477 entries, 0 to 2476
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2477 non-null   object
 1   Price     2477 non-null   object
 2   Open      2477 non-null   object
 3   High      2477 non-null   object
 4   Low       2477 non-null   object
 5   Vol.      2473 non-null   object
 6   Change %  2477 non-null   object
dtypes: object(7)
memory usage: 135.6+ KB

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format = '%d-%m-%Y')
df = df.sort_values('Date')
df.head()

           Date     Price      Open      High       Low     Vol. Change %
2476 2016-01-27  7,437.75  7,469.60  7,477.90  7,419.70  193.39M    0.02%
2475 2016-01-28  7,424.65  7,426.50  7,468.85  7,409.60  283.04M   -0.18%
2474 2016-01-29  7,563.55  7,413.35  7,575.65  7,402.80  307.93M    1.87%
2473 2016-02-01  7,555.95  7,589.50  7,600.45  7,541.25  206.64M   -0.10%
2472 2016-02-02  7,455.55  7,566.65  7,576.30  7,428.05  237.34M   -1.33%

In [7]:
df.reset_index(drop = True, inplace = True)

In [8]:
df.head()

        Date     Price      Open      High       Low     Vol. Change %
0 2016-01-27  7,437.75  7,469.60  7,477.90  7,419.70  193.39M    0.02%
1 2016-01-28  7,424.65  7,426.50  7,468.85  7,409.60  283.04M   -0.18%
2 2016-01-29  7,563.55  7,413.35  7,575.65  7,402.80  307.93M    1.87%
3 2016-02-01  7,555.95  7,589.50  7,600.45  7,541.25  206.64M   -0.10%
4 2016-02-02  7,455.55  7,566.65  7,576.30  7,428.05  237.34M   -1.33%

In [9]:
price_cols = ['Price','Open','High','Low']
for col in price_cols:
    df[col] = df[col].str.replace(',','').astype('float')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477 entries, 0 to 2476
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2477 non-null   datetime64[ns]
 1   Price     2477 non-null   float64
 2   Open      2477 non-null   float64
 3   High      2477 non-null   float64
 4   Low       2477 non-null   float64
 5   Vol.      2473 non-null   object
 6   Change %  2477 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 135.6+ KB

In [11]:
df['Change %'] = df['Change %'].str.replace('%','').astype('float')

In [12]:
def convert_vol(vol):
    if pd.isna(vol):
        return np.nan
        
    vol = str(vol).strip()

    if vol.endswith('M'):
        return float(vol.replace(',','').replace('M',''))*1_000_000
    elif vol.endswith('B'):
        return float(vol.replace(',','').replace('B',''))*1_000_000_000
    else:
        return float(vol.replace(',',''))

df['Vol.'] = df['Vol.'].apply(convert_vol)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477 entries, 0 to 2476
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2477 non-null   datetime64[ns]
 1   Price     2477 non-null   float64
 2   Open      2477 non-null   float64
 3   High      2477 non-null   float64
 4   Low       2477 non-null   float64
 5   Vol.      2473 non-null   float64
 6   Change %  2477 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 135.6 KB

In [14]:
df.head()

        Date    Price     Open     High      Low         Vol.  Change %
0 2016-01-27  7437.75  7469.60  7477.90  7419.70  193390000.0      0.02
1 2016-01-28  7424.65  7426.50  7468.85  7409.60  283040000.0     -0.18
2 2016-01-29  7563.55  7413.35  7575.65  7402.80  307930000.0      1.87
3 2016-02-01  7555.95  7589.50  7600.45  7541.25  206640000.0     -0.10
4 2016-02-02  7455.55  7566.65  7576.30  7428.05  237340000.0     -1.33

In [31]:
df.to_csv('Nifty 50 Historical Data - Cleaned.csv', index = False)